
html, body{



}

body{
    font-family: 'roboto', sarif;





}

#nav, a:hover {
    font-family: bold;
    color: white;
    background: grey;
    border: 1px solid grey;
    text-align: left;


}





.read a{
    color: white;
    background: springgreen;
    border: 1px solid springgreen;
    display: inline-block;
    padding: 14px;
    text-decoration: none;
    font-size: small;
}


