
html, body{



}

body{
    font-family: 'roboto', sarif;





}

#nav {
    font-family: bold;
    color: white;
    background-color: springgreen;
    margin-bottom: 200px;
    height: 30px;
    width: 400px;
    text-align: left;


}




.read a{
    color: white;
    background: springgreen;
    border: 1px solid springgreen;
    display: inline-block;
    padding: 14px;
    text-decoration: none;
    font-size: small;
}


